<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomAlertViewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E64B99571D8C25BE00D40910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E64B996B1D8C25BE00D40910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E64B99761D8C25BE00D40910</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
